<div class="component-header">
  <h3>Transporters</h3>
  <p-button icon="pi pi-plus-circle" (onClick)="addTransporter()" iconPos="right" label="Add transporter"></p-button>
</div>
<p-contextMenu #transportsActions [model]="contextMenuItems"/>
<p-table
  [value]="transporterPage?.content || []"
  [lazy]="true"
  (onLazyLoad)="onLazyLoad($event)"
  dataKey="id"
  [paginator]="true"
  [rows]="transporterPage?.size"
  [totalRecords]="transporterPage?.total_elements || 0"
  [loading]="isLoading"
  [showLoader]="false"
  sortField="id"
  [sortOrder]="1"
  [(contextMenuSelection)]="selectedTransporter"
  [contextMenu]="transportsActions"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">Id<p-sortIcon field="id"/></th>
      <th pSortableColumn="name">Name<p-sortIcon field="name"/></th>
      <th pSortableColumn="car_model">Car model<p-sortIcon field="car_model"/></th>
      <th pSortableColumn="load_capacity">Load capacity<p-sortIcon field="load_capacity"/></th>
      <th>Actions</th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="id" [showMenu]="false"
                        [matchMode]="PrimengTableFilterCustomMatchMode.EQUALS_TEXT"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="name" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="car_model" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th class="load-capacity">
        <p-columnFilter field="load_capacity" [showMenu]="false" [matchMode]="PrimengTableFilterCustomMatchMode.RANGE"
                        [showClearButton]="false">
          <ng-template pTemplate="filter" let-event let-filter="filterCallback">
            <div class="flex justify-content-center align-items-center gap-2 mb-2">
              <span *ngIf="amountSlider.values?.length">
                ({{amountSlider.values?.[0]}} - {{amountSlider.values?.[1]}} )
              </span>
              <i class="pi pi-times text-gray-500 cursor-pointer"
                 (click)="amountSlider.writeValue([CAPACITY_LOAD_RANGE[0], CAPACITY_LOAD_RANGE[1]]); filter()"
                 title="Clear">
              </i>
            </div>
            <p-slider #amountSlider
                      [ngModel]="loadCapacityRangeValues"
                      [range]="true"
                      (onChange)="filter($event.values)"
                      [min]="CAPACITY_LOAD_RANGE[0]"
                      [max]="CAPACITY_LOAD_RANGE[1]"
            />
          </ng-template>
        </p-columnFilter>
      </th>
      <th></th>
    </tr>
    <p-confirmDialog header="Confirmation"
                     message="Are you sure?"
                     icon="pi pi-exclamation-triangle p-warn"
                     rejectButtonStyleClass="p-button-outlined p-button-secondary"
    />
  </ng-template>
  <ng-template pTemplate="body" let-transporter>
    <tr [pContextMenuRow]="transporter">
      <td>{{transporter.id}}</td>
      <td>{{transporter.name}}</td>
      <td>{{transporter.car_model}}</td>
      <td>{{transporter.load_capacity}}</td>
      <td>
        <div class="flex flex-wrap gap-2 justify-content-center">
          <p-button icon="pi pi-pencil"
                    styleClass="p-button-rounded p-button-warning p-button-outlined"
                    title="Edit"
                    routerLink="item/{{transporter.id}}"
          />
          <p-button icon="pi pi-trash"
                    styleClass="p-button-rounded p-button-danger p-button-outlined"
                    title="Delete"
                    (click)="confirmDeleteById(transporter.id)"
          />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template *ngIf="!transporterPage?.content" pTemplate="emptymessage">
    <tr>
      <td colspan="6" class="no-table-data xs text-center text-400">Data not found</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <tr class="loading-fields" *ngFor="let _ of [].constructor(6)">
      <td><p>xxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxx</p></td>
    </tr>
  </ng-template>
</p-table>
