.p-tabmenu-nav {
  background: transparent !important;

  .p-menuitem-link {
    background: transparent !important;

    &.p-menuitem-link-active {
      background: #f1f1f1 !important;
    }
  }
}

.p-toast-detail, .p-toast-summary {
  overflow-wrap: break-word;
}

.p-toast-message-text {
  min-width: 0;
}

.p-toast-icon-close {
  flex-shrink: 0;
}

.menuitem-danger {
  .p-menuitem-icon, .p-menuitem-text {
    color: red !important;
  }
}

.menuitem-warning {
  .p-menuitem-icon, .p-menuitem-text {
    color: darkorange !important;
  }
}
