@import "primeicons/primeicons.css";
@import "primeng-overrides";

body {
  box-sizing: border-box;
  margin: 0;
  background: #f1f1f1;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.loading-fields > td > * {
  animation: loading 1.5s forwards linear infinite;
  background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
  background-size: 1000px 640px;
  color: transparent;
  border-radius: 6px;
  padding: 0 6px;
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;


  @keyframes loading {
    0% {
      background-position: -500px 0
    }
    100% {
      background-position: 500px 0
    }
  }
}

form .form-fields-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  span, .options {
    width: 75%;

    input {
      width: 100%;
    }
  }

  span > i {
    z-index: 100;
  }

  .options {
    height: 46px;
  }

  &:last-child {
    width: 60%;
    margin: 24px auto auto;
  }
}
