<div class="component-header">
  <h3>Deliveries</h3>
  <p-button icon="pi pi-plus-circle" (onClick)="addDelivery()" iconPos="right" label="Add delivery"></p-button>
</div>
<p-contextMenu #deliveryActions [model]="contextMenuItems"/>
<p-menu #popupDeliveryActions [model]="contextMenuItems" [popup]="true"/>
<p-table
  [value]="deliveryPage?.content || []"
  [lazy]="true"
  (onLazyLoad)="onLazyLoad($event)"
  dataKey="id"
  [paginator]="true"
  [rows]="deliveryPage?.size"
  [totalRecords]="deliveryPage?.total_elements || 0"
  [loading]="isLoading"
  [showLoader]="false"
  sortField="id"
  [sortOrder]="1"
  [(contextMenuSelection)]="selectedDelivery"
  [contextMenu]="deliveryActions"
  (onContextMenuSelect)="setupContextMenu()"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th rowspan="2" pSortableColumn="id">Id<p-sortIcon field="id"/></th>
      <th colspan="3">Source warehouse</th>
      <th colspan="3">Destination warehouse</th>
      <th colspan="3">Transporter</th>
      <th rowspan="2" pSortableColumn="cargo_name">Cargo name<p-sortIcon field="cargo_name"/></th>
      <th rowspan="2" pSortableColumn="cargo_capacity">Cargo capacity<p-sortIcon field="cargo_capacity"/></th>
      <th rowspan="2" pSortableColumn="status">Status<p-sortIcon field="status"/></th>
      <th rowspan="2"></th>
    </tr>
    <tr>
      <th pSortableColumn="warehouse_from.title">Title<p-sortIcon field="warehouse_from.title"/></th>
      <th pSortableColumn="warehouse_from.address.city">City<p-sortIcon field="warehouse_from.address.city"/></th>
      <th>Street</th>
      <th pSortableColumn="warehouse_to.title">Title<p-sortIcon field="warehouse_to.title"/></th>
      <th pSortableColumn="warehouse_to.address.city">City<p-sortIcon field="warehouse_to.address.city"/></th>
      <th>Street</th>
      <th pSortableColumn="transporter.name">Name<p-sortIcon field="transporter.name"/></th>
      <th pSortableColumn="transporter.car_model">Car model<p-sortIcon field="transporter.car_model"/></th>
      <th pSortableColumn="transporter.load_capacity">Load capacity<p-sortIcon field="transporter.load_capacity"/></th>
    </tr>
    <tr>
      <th class="id">
        <p-columnFilter type="text" field="id" [showMenu]="false"
                        [matchMode]="PrimengTableFilterCustomMatchMode.EQUALS_TEXT"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="warehouse_from_title" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="warehouse_from_address.city" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="warehouse_from_address.street" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="warehouse_to_title" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="warehouse_to_address.city" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="warehouse_to_address.street" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="transporter_name" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th>
        <p-columnFilter type="text" field="transporter_car_model" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th></th>
      <th>
        <p-columnFilter type="text" field="cargo_name" [showMenu]="false" [matchMode]="FilterMatchMode.CONTAINS"
                        [showClearButton]="false" placeholder="Search..." />
      </th>
      <th class="cargo-amount">
        <p-columnFilter field="cargo_amount" [showMenu]="false" [matchMode]="PrimengTableFilterCustomMatchMode.RANGE"
                        [showClearButton]="false">
          <ng-template pTemplate="filter" let-event let-filter="filterCallback">
            <div class="flex justify-content-center align-items-center gap-2 mb-2 flex-nowrap">
              <span *ngIf="amountSlider.values?.length">
                ({{amountSlider.values?.[0]}} - {{amountSlider.values?.[1]}} )
              </span>
              <i class="pi pi-times text-gray-500 cursor-pointer"
                 (click)="amountSlider.writeValue([CARGO_AMOUNT_RANGE[0], CARGO_AMOUNT_RANGE[1]]); filter()"
                 title="Clear">
              </i>
            </div>
            <p-slider #amountSlider
                      [ngModel]="cargoAmountRangeValues"
                      [range]="true"
                      (onChange)="filter($event.values)"
                      [min]="CARGO_AMOUNT_RANGE[0]"
                      [max]="CARGO_AMOUNT_RANGE[1]"
            />
          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="status" [showMenu]="false" [showClearButton]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="statuses"
              (onChange)="filter($event.value)"
              placeholder="All"
              [showClear]="true"
              scrollHeight="250px"
              appendTo="body"
            >
              <ng-template let-option pTemplate="item">
                <span>{{option}}</span>
              </ng-template>
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th></th>
    </tr>
    <p-confirmDialog header="Confirmation"
                     message="Are you sure?"
                     icon="pi pi-exclamation-triangle p-warn"
                     rejectButtonStyleClass="p-button-outlined p-button-secondary"
    />
  </ng-template>
  <ng-template pTemplate="body" let-delivery>
    <tr [pContextMenuRow]="delivery">
      <td>{{delivery.id}}</td>
      <td>{{delivery.warehouse_from.title}}</td>
      <td>{{delivery.warehouse_from.address.city}}</td>
      <td>{{delivery.warehouse_from.address.street}}</td>
      <td>{{delivery.warehouse_to.title}}</td>
      <td>{{delivery.warehouse_to.address.city}}</td>
      <td>{{delivery.warehouse_to.address.street}}</td>
      <td>{{delivery.transporter.name}}</td>
      <td>{{delivery.transporter.car_model}}</td>
      <td>{{delivery.transporter.load_capacity}}</td>
      <td>{{delivery.cargo_name}}</td>
      <td>{{delivery.cargo_amount}}</td>
      <td>{{delivery.status}}</td>
      <td>
        <p-button icon="pi pi-ellipsis-v"
                  styleClass="p-button-rounded p-button-warning p-button-outlined w-2rem h-2rem"
                  title="Menu"
                  (click)="selectedDelivery = delivery; setupContextMenu(); popupDeliveryActions.toggle($event)"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template *ngIf="!deliveryPage?.content" pTemplate="emptymessage">
    <tr>
      <td colspan="14" class="no-table-data xs text-center text-400">Data not found</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <tr class="loading-fields" *ngFor="let _ of [].constructor(6)">
      <td><p>xxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxxxx</p></td>
      <td><p>xxx</p></td>
    </tr>
  </ng-template>
</p-table>
