:host {
  background: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 4px 24px 4px 24px;
  border-bottom: solid 5px lightgray;

  #logo, #logo img {
    width: 225px;
  }

  ::ng-deep.user-avatar {
    background-color: #507bc5;
    width: 2.5rem;
    height: 2.5rem;

    .p-avatar-icon {
      color: #fa9197;
      font-size: 1.25rem;
    }
  }
}
