<div class="flex justify-content-start gap-5 left-menu">
  <a id="logo" routerLink="/">
    <img src="assets/logo.png" alt="company logo">
  </a>

  <div *ngIf="authService.user$ | async as user" class="card">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  </div>
</div>

<div *ngIf="authService.user$ | async as user" class="flex align-items-center cursor-pointer">
  <p-avatar (click)="accountMenu.toggle($event)"
    icon="pi pi-user"
    styleClass="user-avatar"
    shape="circle"
  />
  <p-menu
    #accountMenu
    [model]="(accountMenuItems$ | async) ?? []"
    [popup]="true"
    styleClass="theme-menu"
  />
</div>
